//Fonts
$font-family: "Gilroy";
$font-size: 16px;

//Color


//Sizes
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 478.98;
